# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local folders
data/
docs/
false/
covid-xprize-uptodate/
.vscode/
*.ipynb_checkpoints/
*/__pycache__
*.pyc

*.DS_Store

*.egg-info/
transat_rl/env/predictor_input.csv
transat_rl/env/predictor_output.csv
